.import
.godot
addons/plugin_refresher
addons/zylann.editor_debugger
Tests
logs
icon.png.import
icon.png
default_env.tres
nvim.shada
addons/Mushroom/DialogManager/misc/args.tres
Translations
icon.svg.import
icon.svg
.gitattributes
.vscode/settings.json
TranslationCsvs
